:root {
    --color-white: #FEFEFEff;
    --color-french-gray: #A4A4A6ff;
    --color-cinereous: #887879ff;
    --color-sinopia: #DE2901ff;
    --color-penn-red: #8F1A05ff;
    --color-rich-black: #0C0C1Cff;
    --font-family: Montserrat;
}


.map {
    height: 600px;
    width: 80%;
    padding: auto;
}

.contact__logos {
    margin: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--color-french-gray);
}
.contact__logo--container {
    background: none;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fab {
    background: var(--color-french-gray);
    color: var(--color-white);
    text-align: center;
    font-size: 140px;
}
.fab:hover {
    text-align: center;
    font-size:150px;
}
.footer {
    /* height: 70vh; */
    overflow: hidden;
    padding-top: 80px;
    background: var(--color-french-gray);
    color: var(--color-white);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__text {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background: none;
    text-align: center;
}
.footer__design {
    overflow: hidden;
    padding: 12px;
    background: var(--color-rich-black);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
}
.footer__design > p {
    margin: 0%;
    padding: 0%;
    background: none;
    font-family: var(--font-family);
}


@media only screen and (max-width: 639px) {
    .map {
        height: 500px;
        width: 94%;
        padding: auto;
    }
    .contact__logo--container {
        background: none;
        height: 140px;
        width: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fab {
        background: var(--color-french-gray);
        color: var(--color-white);
        text-align: center;
        font-size: 100px;
    }
    .fab:hover {
        text-align: center;
        font-size:108px;
    }
}
