.title {
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
}
.main__container {
    width: 80vw;
    margin: auto;
    margin-bottom: 8rem;
}
.main__card {
    height: 80vh;
    max-height: 600px;
    margin-bottom: 2rem;
    overflow: hidden;
    display: flex;
    border-radius: 1rem;
}
.main__card-image {
    width: 45vw;
    overflow: hidden;
    display: grid;
    place-content: center;
}
.main__image {
    object-fit: fill;
    width: 45vw;
}
.main__card-text {
    width: 35vw;
    font-size: 24px;
    overflow: hidden;
    color: black;
    background: white;
}
.main__card-text > p, .main__card-text > h3 {
    margin: 3rem;
}


@media only screen and (max-width: 639px) {
    .title {
        font-size: 1.5rem;
        padding-top: 6rem;
    }
    .main__container {
        width: 94vw;
    }
    .main__card {
        height: 90vh;
        flex-direction: column;
    }
    .main__card-image {
        width: 94vw;
    }
    .main__image {
        object-fit: cover;
        height: 60vh;
        width: 94vw;
    }
    .main__card-text {
        width: 94vw;
        font-size: 16px;
        height: 40vh;
    }
    .main__card-text > p, .main__card-text > h3 {
        margin: 1rem;
    }
}
