:root {
    --color-white: #FEFEFEff;
    --color-french-gray: #A4A4A6ff;
    --color-cinereous: #887879ff;
    --color-sinopia: #DE2901ff;
    --color-penn-red: #8F1A05ff;
    --color-rich-black: #0C0C1Cff;
    --font-family: Montserrat;
}


.nav {
    margin: none;
    padding: none;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 4rem;
    z-index: 99;
    position: fixed;
    top: 0%;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}
.nav__container {
    max-width: 80vw;
    width: 80vw;
    height: 60px;
    font-family: var(--font-family);
    font-size: 22px;
    background: none;
    color: var(--color-rich-black);
    display: inherit;
    justify-content: space-between;
    align-items: inherit;
    box-sizing: border-box;
}
.nav__figure {
    display: flex;
    text-align: center;
    background: none;
}
.nav__figure-logo {
    margin: auto;
    height: 2rem;
}
.nav__brand {
    margin: 0, auto;
    font-weight: 700;
}
.nav__ul {
    display: flex;
}
.nav__ul li {
    list-style: none;
}
.nav a {
    border: 2px solid rgba(0,0,0,0);
    margin: 6px 12px;
    padding: 6px 12px;
    text-decoration: none;
    color: var(--color-rich-black);
    border-radius: 12px;
}
.nav a:hover  {
    border: 2px solid rgba(0,0,0,0.3);
    margin: 6px 12px;
    padding: 6px 12px;
    color: var(--color-rich-black);
    text-decoration: none;
    border-radius: 8px;
}
.menu {
    height: 40px;
    width: 40px;
    background: none;
    font-size: 36px;
    display: none;
    border: none;
}
.fas {
    color: black;
    background: none;
}


@media only screen and (max-width: 639px) {
    .nav__container {
        max-width: 94vw;
        width: 94vw;
        font-size: 14px;
    }
    .isActive {
        display: none;
    }
    .nav__ul {
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 9;
        background-color: rgba(0,0,0,0.9);
    }
    .isActive {
        display: none;
    }
    .nav__ul > li {
        margin: 3rem;
        font-size: 2rem;
    }
    .nav__ul > li > a {
        color: var(--color-white);
    }
    .nav__ul > li > a:hover {
        color: var(--color-white);
        border: 2px solid var(--color-white);
    }
    .menu {
        display: flex;
        justify-content: center;
        text-align: center;   
    }
}
