:root {
    --color-white: #FEFEFEff;
    --color-french-gray: #A4A4A6ff;
    --color-cinereous: #887879ff;
    --color-sinopia: #DE2901ff;
    --color-penn-red: #8F1A05ff;
    --color-rich-black: #0C0C1Cff;
    --font-family: Montserrat;
}

* {
    margin: 0%;
    background-color: #e7e7e7;
    font-family: var(--font-family);
}

p, a, img, ul, li, strong, small, h1, h2, h3 {
    background: none;
}
